@import url("https://p.typekit.net/p.css?s=1&k=xdw5gnv&ht=tk&f=37171.37177.37178.37179.37180.37181.37182&a=20574441&app=typekit&e=css");

@font-face {
  font-family: "Majesti Banner";
  src: url("../webfonts/MajestiBanner-Heavy.woff2") format("woff2"),
    url("../webfonts/MajestiBanner-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
}
body {
  font-family: $primaryFont;
  color: $secondaryColorBlack;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 15px;
  line-height: 1.2;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}
.spacer-20{
  height: 20px;
}
.spacer-30{
  height: 30px;
}
.spacer-40{
  height: 40px;
}
.section-padding {
  padding: 90px 0px;
  @include sm {
    padding: 50px 0px;
  }
}
.section-padding-bottom {
  padding-bottom: 90px;
  @include sm {
    padding-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  @include md {
    margin-bottom: 30px;
  }
  @include sm {
    margin-bottom: 30px;
  }
  h2 {
    padding-top: 25px;
    font-size: 45px;
    position: relative;
    @include md {
      font-size: 40px;
    }
    @include sm {
      font-size: 28px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 150px;
      height: 3px;
      transform: translateX(-50%);
      background: linear-gradient(
        90deg,
        $primaryColorGold 0%,
        lighten($primaryColorGreen, 10) 22%,
        lighten($primaryColorGreen, 20) 52%,
        $secondaryColorBlue 100%
      );
    }
  }
}

.primary-button {
  display: inline-block;
  text-align: center;
  padding: 12px 25px;
  background-color: $primaryColorGreen;
  color: $white;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
  &.white {
    background-color: $white;
    color: $primaryColorGreen;
    &:hover {
      background-color: $secondaryColorBlue;
      color: $white;
    }
  }
  &.full-width {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  &:hover {
    background-color: $secondaryColorBlue;
    color: $white;
  }
}
.inline-link{
  display: inline-block;
  color: $secondaryColorBlue;
  transition: all 0.3s ease;
  &:hover{
    color: $primaryColorGreen;
    text-decoration: underline;
  }
}

.gradient-band{
  padding: 30px 0px;
  margin-bottom: 30px;
  background: $primaryColorGreen;
  background: -moz-linear-gradient(180deg, rgba(0,193,149,0.3) 30%, rgba(2,127,195,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,193,149,0.3) 30%, rgba(2,127,195,0) 100%);
  background: linear-gradient(180deg, rgba(0,193,149,0.3) 30%, rgba(2,127,195,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c195",endColorstr="#027fc3",GradientType=1);
  @include sm{
    padding: 25px 0px;
  }
}
