@import url("https://p.typekit.net/p.css?s=1&k=xdw5gnv&ht=tk&f=37171.37177.37178.37179.37180.37181.37182&a=20574441&app=typekit&e=css");
@font-face {
  font-family: "Majesti Banner";
  src: url("../webfonts/MajestiBanner-Heavy.woff2") format("woff2"), url("../webfonts/MajestiBanner-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  position: relative;
}

body {
  font-family: "commuters-sans", sans-serif;
  color: #2C2A29;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 15px;
  line-height: 1.2;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
input:focus,
select:focus,
button:focus {
  outline: 0 solid;
}

.spacer-20 {
  height: 20px;
}

.spacer-30 {
  height: 30px;
}

.spacer-40 {
  height: 40px;
}

.section-padding {
  padding: 90px 0px;
}

@media only screen and (max-width: 767px) {
  .section-padding {
    padding: 50px 0px;
  }
}

.section-padding-bottom {
  padding-bottom: 90px;
}

@media only screen and (max-width: 767px) {
  .section-padding-bottom {
    padding-bottom: 50px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 30px;
  }
}

.section-title h2 {
  padding-top: 25px;
  font-size: 45px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 28px;
  }
}

.section-title h2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 150px;
  height: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: -webkit-gradient(linear, left top, right top, from(#E1E000), color-stop(22%, #00f4bc), color-stop(52%, #28ffce), to(#009FDF));
  background: linear-gradient(90deg, #E1E000 0%, #00f4bc 22%, #28ffce 52%, #009FDF 100%);
}

.primary-button {
  display: inline-block;
  text-align: center;
  padding: 12px 25px;
  background-color: #00C195;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.primary-button.white {
  background-color: #ffffff;
  color: #00C195;
}

.primary-button.white:hover {
  background-color: #009FDF;
  color: #ffffff;
}

.primary-button.full-width {
  width: 100%;
  display: block;
  margin-top: 10px;
}

.primary-button:hover {
  background-color: #009FDF;
  color: #ffffff;
}

.gradient-button {
  border: 0px;
  min-width: 150px;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#00f4bc), to(#E1E000));
  background: linear-gradient(90deg, #00f4bc 0%, #E1E000 100%);
  color: #ffffff;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#00f4bc), to(#E1E000));
  background: linear-gradient(-90deg, #00f4bc 0%, #E1E000 100%);
}

.inline-link {
  display: inline-block;
  color: #009FDF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.inline-link:hover {
  color: #00C195;
  text-decoration: underline;
}

.gradient-band {
  padding: 30px 0px;
  margin-bottom: 30px;
  background: #00C195;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 193, 149, 0.3)), to(rgba(2, 127, 195, 0)));
  background: linear-gradient(180deg, rgba(0, 193, 149, 0.3) 30%, rgba(2, 127, 195, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c195",endColorstr="#027fc3",GradientType=1);
}

@media only screen and (max-width: 767px) {
  .gradient-band {
    padding: 25px 0px;
  }
}

.header-area {
  padding: 10px 0px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: linear-gradient(-70deg, #00C195 0%, #009FDF 80%, #E1E000 100%);
}

.header-area .navbar {
  padding: 0;
}

.header-area .navbar .navbar-toggler {
  font-size: 24px;
}

.header-area .navbar .navbar-toggler .navbar-toggler-icon {
  color: #ffffff;
  font-size: 32px;
  height: auto;
}

.header-area .navbar .navbar-toggler[aria-expanded="true"] .fa-bars::before {
  content: "\f00d";
}

.header-area .navbar .navbar-toggler[aria-expanded="false"] .fa-bars::before {
  content: "\f0c9";
}

.header-area .navbar .navbar-brand img {
  width: 100%;
  max-width: 170px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .navbar .navbar-brand img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .navbar .navbar-brand img {
    max-width: 120px;
  }
}

.header-area .navbar .navbar-nav .nav-item .nav-link {
  font-family: "Majesti Banner";
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-area .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fbf900;
}

.header-area .navbar .navbar-nav.top-menu .nav-item .nav-link {
  font-size: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .navbar .navbar-nav.top-menu .nav-item .nav-link {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .navbar .navbar-nav.top-menu .nav-item .nav-link {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .navbar .navbar-nav.flex-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .navbar .navbar-nav.flex-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.footer-section {
  background: linear-gradient(-70deg, #00C195 0%, #009FDF 80%, #E1E000 100%);
  padding: 50px 0px;
}

.footer-section .footer-logo {
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .footer-section .footer-logo {
    display: block;
    text-align: center;
  }
}

.footer-section .footer-logo img {
  width: 100%;
  max-width: 250px;
}

@media only screen and (max-width: 767px) {
  .footer-section .footer-logo img {
    max-width: 150px;
  }
}

.footer-section .signup-title {
  text-align: right;
  padding-right: 15px;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section .signup-title {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .footer-section .signup-title {
    text-align: center;
    padding-right: 0px;
  }
}

.footer-section .signup-title h4 {
  color: #ffffff;
}

.footer-section .subscribe-box label {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  position: relative;
}

.footer-section .subscribe-box label.required:before {
  content: "\2217";
  position: absolute;
  top: -4px;
  left: -12px;
  color: #D84442;
}

.footer-section .subscribe-box .form-control {
  border-radius: 7px;
  border: 0px;
  width: auto;
  min-width: 300px;
}

.footer-section .subscribe-box .disclaimer-text p {
  font-size: 12px;
  color: #ffffff;
}

.footer-section .subscribe-box .disclaimer-text a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-section .subscribe-box .disclaimer-text a:hover {
  color: #E1E000;
}

.footer-section .footer-bottom {
  padding-top: 70px;
}

@media only screen and (max-width: 767px) {
  .footer-section .footer-bottom {
    text-align: center;
    padding-top: 40px;
  }
}

.footer-section .footer-bottom .contact-info a {
  color: #ffffff;
  display: block;
  font-weight: 500;
}

.footer-section .footer-bottom .contact-info a span {
  font-weight: 700;
}

.footer-section .footer-bottom .social-links {
  margin-top: 10px;
}

.footer-section .footer-bottom .social-links a {
  color: #ffffff;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-section .footer-bottom .social-links a:hover {
  color: #E1E000;
}

.footer-section .footer-bottom .footer-address {
  color: #ffffff;
}

.footer-section .footer-bottom .footer-address .text-with-flag {
  font-weight: 700;
  font-size: 18px;
}

.footer-section .footer-bottom .footer-address .text-with-flag img {
  max-width: 40px;
}

.footer-section .footer-bottom .footer-copyright {
  position: relative;
  padding-right: 70px;
  text-align: right;
  color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section .footer-bottom .footer-copyright {
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-section .footer-bottom .footer-copyright {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-section .footer-bottom .footer-copyright .logo-right {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50px;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul li {
  display: inline-block;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul li a {
  position: relative;
  display: block;
  padding: 5px 12px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 700;
  font-size: 15px;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul li a:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 12px;
  width: 2px;
  background-color: #ffffff;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul li a:hover {
  color: #fffe15;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul li:last-child a {
  padding-right: 0px;
}

.footer-section .footer-bottom .footer-copyright .footer-link ul li:last-child a:after {
  display: none;
}

.footer-section .footer-bottom .footer-copyright .copy-text {
  font-size: 14px;
}

.hero-section .video-wrapp {
  margin-bottom: -6px;
}

.hero-section .video-wrapp video {
  width: 100% !important;
  height: auto !important;
}

.intro-section {
  background: #00C195;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 193, 149, 0.3)), to(rgba(2, 127, 195, 0)));
  background: linear-gradient(180deg, rgba(0, 193, 149, 0.3) 30%, rgba(2, 127, 195, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c195",endColorstr="#027fc3",GradientType=1);
}

.intro-section .intro-text {
  padding: 80px 0px;
  border-bottom: 1px solid #DBDFEF;
}

@media only screen and (max-width: 767px) {
  .intro-section .intro-text {
    padding: 50px 0px;
  }
}

.intro-section .intro-text p {
  font-size: 26px;
}

@media only screen and (max-width: 767px) {
  .intro-section .intro-text p {
    font-size: 18px;
  }
}

.cta-section .single-cta {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.cta-section .single-cta:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta-section .single-cta:hover:before {
  opacity: 0.7;
}

.cta-section .single-cta:hover .text h4 {
  color: #fffe15;
}

.cta-section .single-cta img {
  width: 100%;
  max-width: 100%;
}

.cta-section .single-cta .text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.cta-section .single-cta .text h4 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-section .about-text {
  padding-bottom: 40px;
  border-bottom: 1px solid #DBDFEF;
}

.team-section .single-team-member {
  text-align: center;
  margin-bottom: 20px;
}

.team-section .single-team-member img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .team-section .single-team-member img {
    max-width: 250px;
  }
}

.team-section .single-team-member h4 {
  font-size: 20px;
  color: #464342;
  font-weight: 400;
}

.team-section .single-team-member .contact-info a {
  display: block;
  padding: 5px 10px;
  color: #009FDF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-section .single-team-member .contact-info a i {
  margin-right: 5px;
}

.team-section .single-team-member .contact-info a:hover {
  color: #865E9C;
}

@media only screen and (max-width: 767px) {
  .funding-section .funding-texts h1, .funding-section .funding-texts h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .funding-section .funding-texts h4 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */