.cta-section{
  background-color: $primaryColorGreen;
  .cta-text{
    text-align: center;
    h2{
      font-size: 45px;
      color: $white;
      margin-bottom: 30px;
      @include lg{
        font-size: 35px;
      }
      @include md{
        font-size: 30px;
      }
      @include sm{
        font-size: 26px;
      }
    }
  }
}