.feature-section{
  .single-feature{
    text-align: center;
    padding: 10px;
    .icon{
      img{
        max-width: 75px;
      }
      margin-bottom: 15px;
    }
    h4{
      color: lighten($black, 15);
      font-size: 24px;
    }
  }
}