.footer-section {
  background: linear-gradient(
    -70deg,
    $primaryColorGreen 0%,
    $secondaryColorBlue 80%,
    $primaryColorGold 100%
  );
  padding: 50px 0px;
  .footer-logo {
    display: inline-block;
    @include sm{
      display: block;
      text-align: center;
    }
    img {
      width: 100%;
      max-width: 250px;
      @include sm{
        max-width: 150px;
      }
    }
  }
  .signup-title {
    text-align: right;
    padding-right: 15px;
    padding-top: 40px;
    @include md{
      text-align:left;
    }
    @include sm{
      text-align:center;
      padding-right: 0px;
    }
    h4 {
      color: $white;
    }
  }
  .subscribe-box {
    label {
      color: $white;
      font-weight: 700;
      font-size: 18px;
      position: relative;
      &.required {
        &:before {
          content: "\2217";
          position: absolute;
          top: -4px;
          left: -12px;
          color: $secondaryColorRed;
        }
      }
    }
    .form-control {
      border-radius: 7px;
      border: 0px;
      width: auto;
      min-width: 300px;
    }
    .disclaimer-text{
      p{
        font-size: 12px;
        color: $white;
      }
      a{
        color: $white;
        font-size: 14px;
        text-decoration: underline;
        transition: all 0.3s ease;
        &:hover{
          color: $primaryColorGold;
        }
      }
    }
  }
  .footer-bottom{
    padding-top: 70px;
    @include sm{
      text-align: center;
      padding-top: 40px;
    }
    .contact-info{
      a{
        color: $white;
        display: block;
        font-weight: 500;
        span{
          font-weight: 700;
        }
      }
    }
    .social-links{
      margin-top: 10px;
      a{
        color: $white;
        display: inline-block;
        padding: 5px;
        font-size: 20px;
        transition: all 0.3s ease;
        &:hover{
          color: $primaryColorGold;
        }
      }
    }
    .footer-address{
      color: $white;
      .text-with-flag{
        font-weight: 700;
        font-size: 18px;
        img{
          max-width: 40px;
        }
      }
    }
    .footer-copyright{
      position: relative;
      padding-right: 70px;
      text-align: right;
      color: $white;
      @include md{
        text-align: center;
        margin-top: 20px;
      }
      @include sm{
        text-align: center;
        margin-top: 20px;
      }
      .logo-right{
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 50px;
      }
      .footer-link{
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          li{
            display: inline-block;
            a{
              position: relative;
              display: block;
              padding: 5px 12px;
              color: $white;
              transition: all 0.3s ease;
              font-weight: 700;
              font-size: 15px;
              &:after{
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 12px;
                width: 2px;
                background-color: $white;
              }
              &:hover{
                color: lighten($primaryColorGold, 10);
              }
            }
            &:last-child{
              a{
                padding-right: 0px;
                &:after{
                  display: none;
                }
              }
            }
          }
        }
      }
      .copy-text{
        font-size: 14px;
      }
    }
  }
}
