.hero-section{
  padding: 200px 0px 100px;
  background-color: $pinkColor;
  @include md{
    padding: 200px 0px 50px;
  }
  @include sm{
    padding: 150px 0px 50px;
  }
  .hero-text{
    h1{
      color: lighten($black, 15);
      font-size: 70px;
      @include md{
        font-size: 50px;
      }
      @include sm{
        font-size: 35px;
      }
    }
  }
}
.hero-bottom-background{
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  height: 400px;
  @include md{
    height: 200px;
  }
  @include sm{
    height: 70px;
  }
}