.testimonial-section{
  background-color: lighten($primaryColorGold, 25);
  img{
    border-radius: 5px;
    @include md{
      margin-bottom: 20px;
    }
    @include sm{
      margin-bottom: 20px;
    }
  }
  .tesmonial-text{
    padding-top: 30px;
    p{
      font-size: 28px;
      @include lg{
        font-size: 24px;
      }
      @include sm{
        font-size: 20px;
      }
      &.author{
        font-size: 16px;
        color: $grayColor;
      }
    }
  }
}