.work-section {
  .single-work {
    text-align: center;
    .number-icon {
      width: 75px;
      height: 75px;
      border: 2px solid $primaryColorGreen;
      color: $primaryColorGreen;
      margin: 0 auto;
      border-radius: 50%;
      line-height: 70px;
      font-size: 25px;
      margin-bottom: 20px;
    }
    h4 {
      color: lighten($black, 15);
      font-size: 24px;
      @include lg{
        font-size: 20px;
      }
    }
  }
}
